{% extends 'webpage/base.html' %}
{% load bootstrap3 %}

{% block main_content_area %}

    <div id="edit-page">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>User id: {{ object.id }}</h2>
                <h2>Email  : {{ object.email }}</h2>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <h3>Site</h3>
                {% for site in sites %}
                    <a href="{% url 'site.detail.view' object.id site %}">{{ site }}</a><br>
                {% endfor %}
                <a href="">Add Site</a>
            </div>
        </div>
    </div>

{% endblock %}